OPENROUTER_BASE_URL=https://openrouter.ai/api/v1
OPENROUTER_API_KEY=

API_KEY=

VERIFICATION_URL=https://put_real_url_here/verify
S01E01_PEOPLE_URL=https://put_real_url_here/people.csv

S01E02_FINDHIM_LOCATIONS_URL=https://put_real_url_here/findhim_locations.json
S01E02_LOCATION_URL=https://put_real_url_here/location
S01E02_ACCESS_LEVEL_URL=https://put_real_url_here/accesslevel

S01E03_PACKAGE_API_URL=https://put_real_url_here/packages

S01E04_DOCUMENTATION_URL=https://put_real_url_here/dane/doc/
S01E04_MAIN_FILE=index.md
S01E04_FILES_DIRECTORY=files/S01E04